
article {
  padding: 10px;
}

dt {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

dd {
  margin-bottom: 10px;
}

.letra {
  list-style: lower-alpha inside;
}

ul li {
  list-style: circle inside;
  margin-top: 10px;
}

ol, ul, li {
  margin-top: 10px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

article p {
  text-align: center;
  font-size: 20px;
}
@media (width <= 425px) {
  article p {
    font-size: 15px;
  }
  section{
    font-size: 10px;
  }
  footer {
    font-size: 10px;
  }
}
