main {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

a[href="#"] {
  text-decoration: none;
  color: black;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
table {
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 5px;
}
footer p {
  padding: 2px;
}
.contact {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
}
caption {
  font-size: 30px;
}
article h3 {
  text-align: center;
}
.maps {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}
section h2 {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  margin: 10px 0px;
}
article h3 {
  background-color: black;
  color: white;
  border-radius: 50px 50px 0px 0px;
}

iframe {
  border-radius: 0px 0px 50px 50px;
  /* -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75); */
}
td img{
  width: 16px;
  margin-left: 10px;
}

@media (width <= 425px) {
  caption {
    font-size: 20px;
  }
  .table {
    margin-top: 10px;
    width: 100%;
  }
  tr,
  th,
  td {
    border: 1px solid black;
    padding: 0.5%;
    font-size: 15px;
  }

  td img{
    width: 10px;
    margin-left: 1px;
  }

  iframe,
  h3 {
    width: 95%;
  }
  footer {
    font-size: 10px;
  }
}
