body {
  margin: 20px 200px;
  font-family: cursive;
}
#cabecera {
  background-image: url(../assets/design1_image1.jpg);
  padding: 50px;
  background-size: 100% 50vh;
}
h1 {
  position: relative;
  top: -50px;
}
#logo {
  width: 150px;
  position: absolute;
  top: 19%;
  left: 75%;
}
h2 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
main {
  margin-top: 10px;
}
li {
  list-style: none;
}

nav {
  display: inline-block;
  width: 20%;
}

.articles {
  display: inline-block;

  width: 79%;
}
article {
  display: block;
}
li a {
  margin-bottom: 80px;
  position: relative;
  text-decoration: none;
  display: block;
}
footer {
  text-align: center;
}
p {
  text-indent: 50px;
  margin-top: 1px;
}
h3 {
  margin-bottom: 0px;
}
