*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 20px 200px;
}
#cabecera{
  background-image: url(../assets/design1_image2.jpg);
  background-size: cover;
  background-position: center -100px;
  height: 150px;
  width: 100%;
}
#cabecera{
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
}
header h2{
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
}
#logo{
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20%;
  top: 10%;
}
main{
  margin-top: 5px;
  display: flex;
  width: 100%;
  padding: 5px;
  height: 250%;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  padding: 5px;
  min-height: 340px;
  min-width: 140px;
}
a[href="#"]{
  text-decoration: none;
  color: black;
}
.articles{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  width: 80%;
}
article{
  padding: 10px;
}
footer{
  text-align: center;
  
}

@media (width <= 425px) {
  body{
    margin: 5px 2px;

  }
  #cabecera{
    height: 40px;
    background-position: center -20px;
    }
    #logo{
      width: 80px;
      height: 80px;
      position: absolute;
      right: 1%;
      top: 3%;
    }
  
  #cabecera{
    
    text-align: center;
    font-size: 10px;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.5);
  }
  main{
    flex-wrap: wrap;
  }
  .pages{
    width: 100%;
    padding: 5px;
    height: 20px;
    min-height: 100px;
    align-items: center;
  
  }
  .articles{
    width: 100%;
  }
  nav{
    min-height: 100px;
    margin-bottom: 15px;
  }
}



