*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 20px 200px;
}
h1{
  background-image: url(../assets/design1_image2.jpg);
  height: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
}
h2{
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
}
#logo{
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20%;
  top: 10%;
}
main{
  margin-top: 5px;
  display: flex;
  width: 100%;
  padding: 5px;
  height: 250%;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  padding: 5px;
  min-height: 340px;

}
.articles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  width: 80%;
}
article{
  padding: 10px;
}
dt{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
a[href="#"]{
  text-decoration: none;
  color: black;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  width: 80%;
  text-align: center;
  
}
table{
  border-collapse: collapse;

}
tr,th,td{
  border: 1px solid black;
  padding: 5px;

}
footer p{
  padding: 2px;
}
.contact{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
width: 100%;
}
caption{
  font-size: 30px;
}

